.form1{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 1rem;
    
}
.conteiner{
    border: 5px solid greenyellow;
    border-radius: 5px;
    padding: 1rem;
}

input{
    margin: 1rem;
}
.clubes{
   
    height: 4rem;
}
.unc{
    height: 3rem;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

/* A ANIMACION */
a {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 1rem 1.5rem;
    position: relative;

    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    color: #232323;
    transition: color 0.3s ease;
  }
  
a:not(.navbar-brand,.nav-link,.btn):hover {
    color: green;
  }
  
a:not(.navbar-brand,.nav-link,.mr-4,.btn):after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: green;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
a:not(.navbar-brand,.nav-link,.mr-4,.btn):hover:after{ 
    width: 100%; 
    left: 0; 
  }
/* FIN A */